<!doctype html>
<html lang="en">
  <head>
  	<title>Login 08</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/style1.css">

	</head>
	<body>

	<section class="ftco-section">
		
		<div class="container">
			<div id="navig">
					
			<ul class="nav justify-content-end">
				<img src="images/a.png" alt="My Image" id="logo"> 
				<li class="nav-item">
				  <a class="nav-link active" aria-current="page" href="#" style="font-size: large; font-weight: bold;">Nos Sites</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#" style="font-size: large; font-weight: bold;">Nos Evenements</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#" style="font-size: large; font-weight: bold;">Nos Specialites</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#" style="font-size: large; font-weight: bold;">Nos Offres</a>
				</li>
			  </ul>
            </div>
		<a th:href="@{/list_patient}"> Retour a la liste des patients</a>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
					<form  method="post" th:action="@{/addpat}" th:object="${patient}">
						<div align="center">
							<span class="fa fa-user-o" style="color: #5ca0e9; font-size: 90px;"></span>
							<h3 style="color: #5ca0e9; position: relative; ">Detail Patient</h3>
						</div>
					
							<h2  align="center" th:text="*{NomPatient}"></h2><br>
							<h3 align="center" th:text="*{CIN}"></h3><br>
							<h3 align="center" th:text="*{DateNaissance}"></h3><br>
							<h3 align="center" th:text="*{Sexe}"></h3><br>
							<h3 align="center" th:text="*{Mutuelle}"></h3><br>
							<h3 align="center" th:text="*{Mail}"></h3><br>
						</form>
					</div>
	         		
			  
	        </div>
			
				
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

