<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<link rel="stylesheet" type="text/css" href="../static/css/style10.css"
	th:href="@{css/style10.css}" />
	
	  <style>
    body {
      background-image: url("images/medical-device-design-and-development-scaled.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
	
</head>
<body>


	<nav id="sidebar" th:fragment="sidebar" style="align-items: center;">

		<div class="custom-menu" >
			<button type="button" id="sidebarCollapse" class="btn btn-primary">
				<i class="fa fa-bars"></i> <span class="sr-only">Toggle Menu</span>
			</button>
		</div>

		<div class="p-4">
			<a th:href="@{/index}"><img alt="SO" src="images/a.png"
				class="img-fluid"
				style="width: 60%; display: block; margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: 20px;" /></a>
			

			<ul class="list-unstyled components mb-5">
				
				<li class="active"><a style="text-decoration: none;" href="#rdpSubmenu" data-toggle="collapse"
				aria-expanded="false"><span class="fa fa-user-circle"></span>&nbsp;&nbsp;&nbsp;Patients</a>
				<ul class="collapse list-unstyled" id="rdpSubmenu">
					<li><a style="text-decoration: none;font-weight: bold;" th:href="@{/list_patient}">Liste des Patients </a></li>
					<li><a style="text-decoration: none;font-weight: bold;" th:href="@{/registre_patient}">Ajouter un Patient</a></li>
				</ul></li>
				
				<li class="active"><a style="text-decoration: none;" href="#listArticleSubmenu" data-toggle="collapse"
				aria-expanded="false"><span class="fa fa-file"></span>&nbsp;&nbsp;&nbsp;Ordonnances</a>
				<ul class="collapse list-unstyled" id="listArticleSubmenu">
					<li><a style="text-decoration: none;font-weight: bold;" th:href="@{/list_ordonnance}">Liste des Ordonnances </a></li>
					<li><a style="text-decoration: none;font-weight: bold;" th:href="@{/registre_ordonnance}">Ajouter une Ordonnance</a></li>
				</ul></li>
				
				<li class="active"><a style="text-decoration: none;" href="#bdvSubmenu" data-toggle="collapse"
				aria-expanded="false"><span class="fa fa-user-md"></span>&nbsp;&nbsp;&nbsp;Infirmiers</a>
				<ul class="collapse list-unstyled" id="bdvSubmenu">
					<li><a style="text-decoration: none;font-weight: bold;" th:href="@{/list_infirmier}">Liste des Infirmier</a></li>
					<li><a style="text-decoration: none;font-weight: bold;" th:href="@{/registre_infirmier}">Ajouter un Infirmier</a></li>
				</ul></li>
				
				<li class="active"><a style="text-decoration: none;" href="#aavSubmenu" data-toggle="collapse"
				aria-expanded="false"><span class="fa fa-calendar-plus-o"></span>&nbsp;&nbsp;&nbsp;Rendez-Vous</a>
				<ul class="collapse list-unstyled" id="aavSubmenu">
					<li><a style="text-decoration: none;font-weight: bold;" th:href="@{/list_rendezvous}">Liste des Rendez-vous</a></li>
				</ul></li>
				<li class="active"><a style="text-decoration: none;" href="#vaavSubmenu" data-toggle="collapse"
				aria-expanded="false"><span class="fa fa-cog"></span>&nbsp;&nbsp;&nbsp;Parametre </a>
				<ul class="collapse list-unstyled" id="vaavSubmenu">
					<li><a style="text-decoration: none;font-weight: bold;" th:href="@{/login}">Deconnexion</a></li>
				</ul></li>
				

			</ul>

		</div>

	</nav>


	</body>
	
</html>
