<!doctype html>
<html lang="en">
  <head>
  	<title>Login 08</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	
	<link rel="stylesheet" href="css/style1.css">

	</head>
	<body>

	<section class="ftco-section">
		
		<div class="container">
			<div id="navig">
					
			<ul class="nav justify-content-end">
				<img src="images/a.png" alt="My Image" id="logo"> 
				<li class="nav-item">
				  <a class="nav-link active" aria-current="page" href="#" style="font-size: large; font-weight: bold;">Nos Sites</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#" style="font-size: large; font-weight: bold;">Nos Evenements</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#" style="font-size: large; font-weight: bold;">Nos Specialites</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#" style="font-size: large; font-weight: bold;">Nos Offres</a>
				</li>
			  </ul>
            </div>
		<a th:href="@{/index}"> Retour a la page d'accuil</a>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
					<form  method="post" th:action="@{/addord}" th:object="${ordonnance}">
						<div align="center">
							<span class="fas fa-file-medical" style="color: #5ca0e9; font-size: 90px;"></span>
							<h3 style="color: #5ca0e9; position: relative; ">Ajouter une ordonnance</h3>
						</div>
						<br>
						<span style="font-weight: bolder;">Date</span><span style="color: red;">*</span><input type="date" th:field="*{DateOrd}" class="form-control rounded-left" placeholder="Date du jour" required>
						<span style="font-weight: bolder;">Medicaments</span><span style="color: red;">*</span><br>
						<select name="medicament" class="form-control">
						  <option th:each="a:${listM}" th:text="${a.NomMedicament}" th:value="${a.idMedicament}"></option>
						</select>
						
						 <span style="font-weight: bolder;">Patient</span><span style="color: red;">*</span><br>
						<select name="patient" class="form-control">
						  <option th:each="p:${listP}" th:text="${p.NomPatient}" th:value="${p.idPatient}"></option>
						</select>

						
						<br>
							<button type="submit" class="btn-primary rounded submit p-3 px-5" style="font-weight: bold;">Register</button>
						</div>
						

	         </form>
			  
	        </div>
			
				
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

