<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
  <head>
  	<title>Login 08</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/style1.css">

	</head>
	<body>

	<section class="ftco-section">
		
		<div class="container">
			<div id="navig">
					
			<ul class="nav justify-content-end">
				<img src="images/a.png" alt="My Image" id="logo"> 
				<li class="nav-item">
				  <a class="nav-link active" aria-current="page" href="#" style="font-size: large; font-weight: bold;">Nos Sites</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#" style="font-size: large; font-weight: bold;">Nos Evenements</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#" style="font-size: large; font-weight: bold;">Nos Specialites</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#" style="font-size: large; font-weight: bold;">Nos Offres</a>
				</li>
			  </ul>
            </div>
		
		<div class="row justify-content-center">
			
				<div class="col-md-6 col-lg-5 image-with-shadow" style="border-radius: 10px;">
					<div class="login-wrap p-4 p-md-5">
					   <form  method="post" th:action="@{/addmed}" th:object="${medecin}">
						<div align="center">
							<span class="fa fa-user-md" style="color: #5ca0e9; font-size: 90px;"></span>
							<h3 style="color: #5ca0e9; position: relative; ">Registrer Medecin</h3>
						</div>
						<br>
						<input type="hidden" th:field="*{idMedecin}" />
						<span style="font-weight: bolder;">Nom du Medecin</span><span style="color: red;">*</span><input type="text" th:field="*{nomMed}" id="nomMed" name="nomMed" class="form-control rounded-left" placeholder="Nom du Medecin" required>
						<span style="font-weight: bolder;">CIN</span><span style="color: red;">*</span><input type="text" th:field="*{speciality}" id="speciality" name="speciality" class="form-control rounded-left" placeholder="Specialite" required>
						<span style="font-weight: bolder;">Specialite</span><span style="color: red;">*</span><input type="text" th:field="*{CIN}" id="CIN" name="CIN" class="form-control rounded-left" placeholder="CIN" required>
						<span style="font-weight: bolder;">Mail</span><span style="color: red;">*</span><input type="text" th:field="*{mail}" id="mail" name="mail" class="form-control rounded-left" placeholder="Mail du Medecin" required>
						<span style="font-weight: bolder;">Mot de Passe</span><span style="color: red;">*</span><input type="password" th:field="*{mdp}" id="mdp" name="mdp" class="form-control rounded-left" placeholder="Mot de Passe du Medecin" required>
						<span style="font-weight: bolder;">Confirmer le Mot de Passe</span><span style="color: red;">*</span><input type="password" class="form-control rounded-left" placeholder="Confirmer le Mot De Passe " required><br>
					    <div class="w-50">
	            		<label class="checkbox-wrap checkbox-primary">J'accepte les termes et les conditions et la politique de confidentialite
									  <input type="checkbox"  required>
									  <span class="checkmark"></span>
									</label>
								</div>
						<div class="form-group">
							<button type="submit" class="btn-primary rounded submit p-3 px-5" style="font-weight: bold;">Register</button>
						</div>
						

	         
			  </form>
	        </div>
			
				
		</div>
		
	  </div>
    </div>
	
</section>

  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

